body {
margin: 0;
font-family: Arial, sans-serif;
background: #F5F5DC;
color: #3E2723;
}

header {
background: white;
position: sticky;
top: 0;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.container {
width: 90%;
margin: auto;
}

.nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 0;
}

nav a {
margin-left: 20px;
text-decoration: none;
color: #8B5A2B;
font-weight: bold;
}

.hero {
background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
url('images/fond.png') center/cover no-repeat;
height: 90vh;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: white;
}

.hero h1 {
font-size: 40px;
}

.section {
padding: 60px 20px;
text-align: center;
}

.light {
background: white;
}

.dark {
background: #3E2723;
color: white;
}

.grid-3 {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
gap: 20px;
margin-top: 30px;
}

.card {
background: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn {
background: #556B2F;
color: white;
padding: 10px 20px;
border: none;
border-radius: 30px;
cursor: pointer;
margin-top: 20px;
}

.btn:hover {
background: #8B5A2B;
}

input {
padding: 5px;
width: 60px;
}

.socials i {
font-size: 28px;
margin: 10px;
color: white;
}

.logo-bottom {
width: 120px;
height: 120px;
border-radius: 50%;
margin-top: 30px;
object-fit: cover;
}

footer {
background: black;
color: white;
padding: 20px;
text-align: center;
}
